WEATHER_API_KEY=4541f34efcfd4de581f34efcfd0de5e9
STATION_ID=YOUR_PWS_STATION_ID
LATITUDE=36.8348
LONGITUDE=-81.5148
RESEND_API_KEY=YOUR_RESEND_KEY
ALERT_EMAIL=you@example.com
NEXT_PUBLIC_SUPABASE_URL=https://gobeibjrfyyiazpmnztd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY